In [2]:
import pandas as pd

In [78]:
df=pd.read_csv("./PreK_project.csv")
df.dropna(subset=['Student_ID'], how='all', inplace = True)
df[0:2]

,Student_ID,Pre_No,TVEP Study,Fall_GRTR_Score,Fall_GRTR_Level,Winter_GRTR_Score,Winter_GRTR_Level,Spring_GRTR_Score,Spring_GRTR_Level,Incomplete_IRI,...,Spring_LNF,Spring_LNF_Level,Spring_LSF,Spring_LSF_Level,Spring_LNF_Growth,Spring_LSF_Growth,am_pm,teacher,school,cohort
0,124282947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,39.0,2.0,68.0,3.0,39.0,68.0,1.0,1.0,0.0,1.0
1,127648521.0,1.0,NaN,19.0,2.0,20.0,2.0,23.0,1.0,0.0,...,45.0,3.0,34.0,3.0,14.0,25.0,0.0,3.0,1.0,1.0

In [79]:
# We need to arrange our StudentID from float to int, and then to string
def convertToBetterIndex(df_t):
    strTbl=[]
    for a in df_t:
        strTbl.append(str(int(a)))
    return strTbl

In [80]:
df['Student_ID']=convertToBetterIndex(df['Student_ID'].values)
df.set_index('Student_ID', inplace=True)
df[0:2]

,Pre_No,TVEP Study,Fall_GRTR_Score,Fall_GRTR_Level,Winter_GRTR_Score,Winter_GRTR_Level,Spring_GRTR_Score,Spring_GRTR_Level,Incomplete_IRI,Fall_LNF,...,Spring_LNF,Spring_LNF_Level,Spring_LSF,Spring_LSF_Level,Spring_LNF_Growth,Spring_LSF_Growth,am_pm,teacher,school,cohort
Student_ID,,,,,,,,,,,,,,,,,,,,,
124282947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,39.0,2.0,68.0,3.0,39.0,68.0,1.0,1.0,0.0,1.0
127648521,1.0,NaN,19.0,2.0,20.0,2.0,23.0,1.0,0.0,31.0,...,45.0,3.0,34.0,3.0,14.0,25.0,0.0,3.0,1.0,1.0

In [101]:
students=['945765668', '577523557','142728168','325383322','514537372','532834342','275522143','236438768',
          '912457324','492575653','286764562','982494857','982494857','2358183654','273972562','127648521',
          '834171656','852221239','643655377','872582144','666683785','855745397','989538648','183837445',
          '983366665','164658334','854644586','923951547','853248442','945653567','386148753','672424336',
          '227388697','296549775','618975655','733624274','867823644','823135663']
# The following table contains all students that were part of the program prek
prekst=df.ix[students]

D:\sw\anaconda\envs\fastai\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

In [107]:
noprk = df.index.isin(students)
# The followint table contains students that were not in the prek program
nonprek=df[~noprk]

In [113]:
t1=nonprek
t1.dropna(subset=['Fall_LSF'], how='all', inplace = True)
t1=nonprek['Fall_LSF']
t1.describe()

D:\sw\anaconda\envs\fastai\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

count    80.000000
mean      6.337500
std       7.511921
min       0.000000
25%       0.000000
50%       3.000000
75%      10.000000
max      29.000000
Name: Fall_LSF, dtype: float64

In [114]:
t1=prekst
t1.dropna(subset=['Fall_LSF'], how='all', inplace = True)
t1=nonprek['Fall_LSF']
t1.describe()

D:\sw\anaconda\envs\fastai\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

count    80.000000
mean      6.337500
std       7.511921
min       0.000000
25%       0.000000
50%       3.000000
75%      10.000000
max      29.000000
Name: Fall_LSF, dtype: float64